div
  if pivot
    table
      tr
        th
        for month in pivot.months
          th #{h.month(month)}
      for category in pivot.categories
        tr
          td #{category}
          for month in pivot.months
            td #{h.dollars(  (pivot.data[month]||{})[category] || 0 )}
          