div
  div.header
    a.header-action(data-hook="header-action" data-show="plots") Plots
    a.header-action(data-hook="header-action" data-show="pivot") Pivot
    a.header-action(data-hook="update" data-show="pivot") Update
  div(data-hook="page-container")