div
  div.header
    a.header-action(data-hook="plots") Plots
    a.header-action(data-hook="pivot") Pivot
  div.plot-container(data-hook="expenses-plot")
  div.plot-container(data-hook="monthly-expenses-plot")
  div(data-hook="transactions-table")