div
  h1 Hello Ampersand World.
  
  table(data-hook="transactions")
    thead
      tr
        th Name
        th Date
    tbody
      tr
        td Jim
        td Now
      tr
        td Kyle
        td Later
