div
  table(data-hook="table")
    thead
      tr
        each header in headers
          th #{header}
    tbody
      if transactions.length > 0
        each item in transactions
          tr
            if item
              each header in headers
                td 
                  if header === 'Date'
                    | #{item[header].format('MMMM D, YYYY')}
                  else
                    | #{item[header]}